
@import '../../utility-styles/main.scss';

.statsWrapper {
    margin-top: 4rem;
    @include flex-between;
    flex-wrap: wrap;
}


.charts {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}