
// COLORS  
  
// rgba(235, 254, 255, 0.159);    
$color-primary: rgba(196, 243, 255, 0.096);
    

$color-secondary: rgba(213, 213, 213, 0.85);

$color-blue: rgb(94, 169, 216);
$color-green: rgb(159, 216, 94);
$color-orange: rgb(240, 165, 27);
$color-red: rgb(255, 61, 94);

$color-grey-light: #f3f3f3;
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #eee;
$color-grey-light-4: #f5f5f5;

$color-grey-dark: gray;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(85, 85, 85);
$color-grey-dark-4: #444;

$color-white: #fff;
$color-black: #000;




// UTILITIES

$box-Shadow: 4px -1px 5px -6px $color-grey-dark-2,
  1px 2px 3px $color-grey-dark-2;

$box-Shadow-2: 4px -1px 5px -6px $color-secondary,
  1px 2px 3px $color-secondary;  
